<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="../public/CSS/administradorempleos.css">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administrador - Bolsa de Trabajo</title>
</head>
<body>
  <header>
    <h1>Administrador - Bolsa de Trabajo</h1>
    <a id="logout-icon" href="">&#128682;</a>
  </header>

  <nav>
    <ul>
      <li><a href="administradorinicio">Inicio</a></li>
      <li><a href="administradorempleos">Empleos</a></li>
      <li><a href="administradorsolicitantes">Solicitantes</a></li>
      <li><a href="administradorempresa">Empresas</a></li>
    </ul>
  </nav>

  <div class="container">
    <h2>Empleos</h2>

    <div class="job-listing">
      <h3 class="job-title">Desarrollador de software</h3>
      <p class="job-description">Estamos buscando un desarrollador de software con experiencia en lenguajes como Java y Python.</p>
      <div class="job-actions">
        <button class="edit-button">Editar</button>
        <button class="delete-button">Eliminar</button>
      </div>
    </div>

    <div class="job-listing">
      <h3 class="job-title">Dise침ador gr치fico</h3>
      <p class="job-description">Buscamos un dise침ador gr치fico creativo y talentoso para unirse a nuestro equipo.</p>
      <div class="job-actions">
        <button class="edit-button">Editar</button>
        <button class="delete-button">Eliminar</button>
      </div>
    </div>

    <div class="job-listing">
      <h3 class="job-title">Especialista en marketing digital</h3>
      <p class="job-description">Estamos en busca de un especialista en marketing digital con experiencia en SEO y redes sociales.</p>
      <div class="job-actions">
        <button class="edit-button">Editar</button>
        <button class="delete-button">Eliminar</button>
      </div>
    </div>

    <button class="add-button">Agregar empleo</button>
  </div>

  <footer>
    <p>Derechos reservados &copy; 2023 Bolsa de Trabajo</p>
  </footer>
</body>
</html>