<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Form Design One | Fazt</title>
    <link rel="stylesheet" href="../public/CSS/login.css">
    <script src="../public/js/validaciones.js"></script>
  </head>
  <body>

    <div class="login-box">
      <img src="../public/IMG/img.png" class="avatar" alt="Logo">
      <h1>Iniciar Sesi칩n</h1>
      <form method="post" action="login" name="formulario" id="formulario">
        <label for="username">Boleta</label>
        <input type="text" placeholder="Ingresa tu Boleta" name="boleta" id="boleta">

        <label for="password">Ingresa tu Contrase침a</label>
        <input type="password" placeholder="Ingresa tu Contrase침a" id="pass" name="pass">
        <input type="submit" value="Iniciar Sesi칩n">
      </form>
    </div>
  </body>
</html>