<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="../public/CSS/perfilA.css">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil del Alumno</title>
</head>
<body>
  <header>
    <a href="principalA">
      <img id="logo" src="" alt="Bolsa de Trabajo">
    </a>
    <a id="profile-link" href="principalA">Volver a la página principal</a>
  </header>

  <div class="profile-container">
    <img class="profile-image" src="" alt="Foto de perfil">

    <h1 class="profile-name">Nombre del Alumno</h1>
    <p class="profile-university">Universidad XYZ</p>

    <h2>Habilidades</h2>
    <ul class="profile-skills">
      <li>Habilidad 1</li>
      <li>Habilidad 2</li>
      <li>Habilidad 3</li>
    </ul>

    <h2>Descripción</h2>
    <p class="profile-description">Descripcion.</p>

    <button class="contact-button">Contactar</button>
    <button class="view-profile-button">Ver perfil</button>
  </div>
</body>
</html>
